<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Nota: come alternativa alla modifica manuale del file, è possibile utilizzare lo 
  strumento di amministrazione Web per configurare le impostazioni dell'applicazione. Utilizzare
  il comando      Configurazione ASP.NET del menu Sito Web di Visual Studio. 
  Un elenco completo di impostazioni e commenti è disponibile nel file 
  machine.config.comments che si trova in genere in 
  \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="MagicCMSConfigSection" type="MagicCMS.Core.MagicCMSConfiguration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- !!!!!!! Imposta la stringa di connessione / Set connection string !!!!!!!!! -->
    <add connectionString="Server=(local);Database=database;User ID=******;Password=******" name=" _mb_conn" />
    <add connectionString="Server=(local)\SQLEXPRESS;Database=MagicCMS;Trusted_Connection=True;" name="test" />
	<add connectionString="Server=(local)\SQLEXPRESS;Database=Audis;Trusted_Connection=True;" name="doc" />
  </connectionStrings>
  <MagicCMSConfigSection ConnectionName="test" DefaultThemePath="/Themes/Default" DefaultContentMaster="Standard.master" ThemePath="" smtpServerName="smtp.magiccms.org" smtpUsername="noreplay@magiccms.org" smtpPassword="*****" smtpDefaultFromMail="noreplay@magiccms.org" smtpAdminMail="concorso@parolevolontarie.it" supportMail="concorso@parolevolontarie.it" editorsMail="concorso@parolevolontarie.it" defaultImage="/Themes/Default/ico/fb.png" indexTypes="" indexField="" imagesPath="/Themes/Default/ico/" allowedFileTypes="jpg,jpeg,doc,docx,zip,gif,png,pdf,rar,svg,svgz,xls,xlsx,ppt,pps,pptx" testoBreveDefLength="300" GoogleCaptchaSecret="6Lcm6wkTAAAAAJ9CuF4Gi5mi-ioBFG4I2jXLePZI" GoogleCaptchaSite="6Lcm6wkTAAAAAJH2bIaOT1hrrh8YV0OqDnGiLGF3" CkeditorCdn="//cdn.ckeditor.com/4.6.1/full/ckeditor.js" FileChangesMonitorStop="false" jQueryLow="1.12.3" jQueryHigh="3.6.0" GoogleMapApiKey="AIzaSyAVZbx9mgbVL3CFyN62HVR0mioD32sW_6Q" backEndLang="it" />
  <!--
  Per una descrizione delle modifiche al file web.config per .NET 4.5, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

  Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
    <system.Web>
    </system.Web>
  -->
  <system.web>
    <!-- 
      Impostare compilation debug="true" per inserire i 
      simboli di debug nella pagina compilata. Poiché tale
      operazione ha effetto sulle prestazioni, impostare questo valore su true 
      solo durante lo sviluppo.
    -->
    <compilation debug="true" targetFramework="4.7.2" />
    <!--
    La sezione <authentication> consente di configurare 
    la modalità di autenticazione della sicurezza utilizzata da 
    ASP.NET per identificare un utente in ingresso. 
  -->
    <authentication mode="Windows" />
    <!--
       La sezione <customErrors> consente di configurare 
     l'operazione da eseguire in caso di errore non gestito 
     durante l'esecuzione di una richiesta. In particolare, 
     consente agli sviluppatori di configurare le pagine di errore HTML 
     in modo che vengano visualizzate al posto della traccia dello stack dell'errore.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="/error/000">
      <error statusCode="400" redirect="/error/400" />
      <error statusCode="401" redirect="/error/401" />
      <error statusCode="403" redirect="/error/403" />
      <error statusCode="404" redirect="/error/404" />
      <error statusCode="405" redirect="/error/405" />
      <error statusCode="406" redirect="/error/406" />
      <error statusCode="408" redirect="/error/408" />
      <error statusCode="412" redirect="/error/412" />
      <error statusCode="500" redirect="/error/500" />
      <error statusCode="501" redirect="/error/501" />
      <error statusCode="502" redirect="/error/502" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!-- h5bp -->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" />
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Audio/Video mime types-->
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".crx" />
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
      <remove fileExtension=".xpi" />
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <remove fileExtension=".safariextz" />
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
      <!-- Flash Video mime types-->
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".f4v" />
      <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- 
      http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
      Uncomment to serve cross-domain ajax requests
    
      <add name="Access-Control-Allow-Origin" value="*" />
    -->
        <!-- 
      Force the latest IE version, in various cases when it may fall back to IE7 mode
       github.com/rails/rails/commit/123eb25#commitcomment-118920
      Use ChromeFrame if it's installed for a better experience for the poor IE folk 
    -->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <!-- 
      Allow cookies to be set from iframes (for IE only)
      If needed, uncomment and specify a path or regex in the Location directive 

      <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
    -->
      </customHeaders>
    </httpProtocol>
    <!-- fine h5bp-->
    <!-- h5bp -->
    <!-- fine h5bp-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.78.4724.23863" newVersion="4.78.4724.23863" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="BingTranslator.LanguageService" name="BasicHttpBinding_LanguageService" />
    </client>
  </system.serviceModel>
</configuration>